- post ||= @post

- if post
  - if post.draft?
    = render :partial => '/refinery/draft_page_message'
  
  %article.blog_post{:id => "post_#{post.id}"}
    %header
      = render :partial => 'refinery/blog/posts/metadata', :locals => {:post => post}
    
    %section.main_content
      = post.body.html_safe
  
    - if Refinery::Blog::Post::ShareThis.enabled?
      %span.st_sharethis{:displayText => "ShareThis"}
  
  = render 'nav' if @post.present? && next_or_previous?(post)
