- @title = 'Blog'

.span-12
  = raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any?
  .span-8
    - if @posts.any?
      %section#blog_posts
        = render :partial => "post", :collection => @posts
        = will_paginate @posts
    - else
      %h3= t('.no_blog_articles_yet')

  #sidebar.span-4.last
    = raw @page.content_for(Refinery::Pages.default_parts.second.to_sym)
    = render :partial => '/refinery/blog/shared/sidebar'
