- @title = 'Blog'

.span-12
  = raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any?
  .span-8
    - if @posts.any?
      %section#blog_posts
        - @posts.each do |post|
          %article.blog_post{:id => "post_#{post.id}"}
            %header
              = render :partial => 'metadata', :locals => {:post => post}
            %section.main_content
              - if post.custom_teaser?
                = post.custom_teaser.html_safe
                %p
                  %em= link_to raw('Read the rest &rarr;'), refinery.blog_post_path(post), :rel => 'bookmark'
              - else
                %p
                  %em= link_to raw('Read the full entry &rarr;'), refinery.blog_post_path(post), :rel => 'bookmark'
        = will_paginate @posts
    - else
      %h3= t('.no_blog_articles_yet')

  #sidebar.span-4.last
    = raw @page.content_for(Refinery::Pages.default_parts.second.to_sym)
    = render :partial => '/refinery/blog/shared/sidebar'
