- @body_class = 'home_page'
.row
  - if @page.images.present?
    %ul#gallery.span-12
      - @page.images.each_with_index do |image, index|
        %li
          = image_tag image.thumbnail('1120x500c').url
          = raw @page.caption_for_image_index(index)
  
  .span-8
    = raw @page.content_for(:body)
  .span-4.last#sidebar
    = raw @page.content_for(:side_body)

= content_for :javascript do
  :javascript
    $(document).ready(function() {
      if($('#gallery li').length > 1) {
        var displayTime = 5 * 1000, // 5 seconds
            fadeTime = 1500;
      
        $('#gallery li:not(:first)').hide();
      
      	setInterval(function(){
      	  var visible = $('#gallery li:visible');
      		visible.fadeOut(fadeTime, function(){
        		if(visible.next('li').size()){
      				visible.next().fadeIn(fadeTime);
      			}
      			else{
      				$('#gallery li').eq(0).fadeIn(fadeTime);
      			}
      		});
  			
      	}, displayTime);
      };
    });
    