<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Greenville Montessori Institute: Coming soon!</title>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
    
  	<!--[if lte IE 9]><%= stylesheet_link_tag 'ie', :media => 'all' %><![endif]-->
  	
    <%= stylesheet_link_tag '1140', 'application', :media => "all" %>
    
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,600,400italic,600italic' rel='stylesheet' type='text/css'>
    
    <%= javascript_include_tag 'application', 'css3-mediaqueries.js' %>
  	
    <%= csrf_meta_tags %>
    
		<!-- 
			This script enables structural HTML5 elements in old IE.
			http://code.google.com/p/html5shim/
		-->
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body lang="en">
	  
	  <div class="container">
		  <%= yield %>
    </div>

	</body>
</html>
